
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 41 59;
    --foreground: 15 23 42;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --popover: 255 255 255;
    --popover-foreground: 15 23 42;

    --primary: 15 23 42;
    --primary-foreground: 248 250 252;

    --secondary: 51 65 85;
    --secondary-foreground: 248 250 252;

    --muted: 71 85 105;
    --muted-foreground: 226 232 240;

    --accent: 51 65 85;
    --accent-foreground: 248 250 252;

    --destructive: 71 85 105;
    --destructive-foreground: 248 250 252;

    --border: 71 85 105;
    --input: 255 255 255;
    --ring: 59 130 246;

    --radius: 0.5rem;

    --sidebar-background: 0 0 0;
    --sidebar-foreground: 255 255 255;
    --sidebar-primary: 255 255 255;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 51 65 85;
    --sidebar-accent-foreground: 255 255 255;
    --sidebar-border: 71 85 105;
    --sidebar-ring: 147 197 253;
  }

  .dark {
    --background: 30 41 59;
    --foreground: 15 23 42;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --popover: 255 255 255;
    --popover-foreground: 15 23 42;

    --primary: 15 23 42;
    --primary-foreground: 248 250 252;

    --secondary: 51 65 85;
    --secondary-foreground: 248 250 252;

    --muted: 71 85 105;
    --muted-foreground: 226 232 240;

    --accent: 51 65 85;
    --accent-foreground: 248 250 252;

    --destructive: 71 85 105;
    --destructive-foreground: 248 250 252;

    --border: 71 85 105;
    --input: 255 255 255;
    --ring: 147 197 253;
    
    --sidebar-background: 0 0 0;
    --sidebar-foreground: 255 255 255;
    --sidebar-primary: 255 255 255;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 51 65 85;
    --sidebar-accent-foreground: 255 255 255;
    --sidebar-border: 71 85 105;
    --sidebar-ring: 147 197 253;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-slate-800 text-slate-200;
  }
}
